.width-dash{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
.box-dash:nth-child(1){
    background-color: rgb(12, 67, 112);
}
.box-dash:nth-child(2){
    background-color: rgb(28, 19, 78);
}
.box-dash:nth-child(3){
    background-color: rgb(69, 62, 82);
}
.two-dash{
    margin-top: 12rem;
}

.box-dash{
    width: 31%;
    background-color: rgb(60, 68, 68);
    display: flex;
    justify-content: space-between;
    /* height: 10rem; */
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 7px rgb(177, 177, 177);
    border-radius: 5px;
   
}
.icon-dash {
    font-size: 3rem;
    color: white;
    /* margin-top: 1rem; */
    /* border: 6px solid rgb(3, 150, 155); */
    /* border-radius: 50%; */
    /* background-color: rgb(0, 0, 0); */
   
}

.view-dash{
    color: white;
    font-size: 3rem;
    /* margin-top: -2.5rem; */
}
.title-dash{
    color: rgb(255, 255, 255);
    margin-top: 1rem;
}
.main-balence{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.width-balence{
     font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: rgb(19, 31, 136);
    display: flex;
    justify-content: space-between;
    /* height: 10rem; */
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 7px rgb(177, 177, 177);
    border-radius: 5px;
    cursor: pointer;
}
.balence-icon{
    font-size: 4rem;
    color: white;
    /* border: 4px solid rgb(255, 255, 255); */
    /* background-color: rgb(65, 173, 23); */
    /* border-radius: 50%; */
}

.balence-view{
    color: white;
    font-size: 3rem;
}
.balence-title{
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    font-size: 1rem;
}