
 .tmp-img img{
    /* border: 2px solid red; */
    box-shadow: 1px 0px 6px rgb(148, 148, 148);
    border-radius: 10px;
   cursor: pointer;
   height: 35rem;
 }
 .tmp-img{
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 images per row */
    gap: 40px;
    
 }
.hight-tmp{
   
}